body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  /*font-size: 2em;*/
}

h1 {
    font-size: 5.625em;
  font-family: "Sacramento", cursive;
  margin: 50px auto 0 auto;
  color:#66BFBF;
  line-height: 2;
}

h2 {
  
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color:#66BFBF;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: "Montserrat", sans-serif;
}
.skill-row{
  width:50%;
  margin: 35px auto;
  text-align: left;
  line-height: 2;
  display: inline-block;
}

.top-container {
  padding-top: 90px;
  background-color: #e3fdfd;
  position: relative;
}
.bottom-container{
  padding: 30px;
  background-color: #66FBBF;
  padding-bottom: 30px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.middle-container{
  padding-top: 100px;
  background-color: #e3fdfd;
  padding-bottom: 10px;

}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.contact-me{
  margin: 50px;
  
}
span {
  text-decoration: underline;
}

.myimage{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}


.js{
 width: 170px;
 height: 170px;
  border-radius: 50%;
  float: right;
}
.java{
    width: 25%;
    height: 25%;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}
.foot{
  margin-bottom: 0;
}
.footer-link{
  margin : 20px 20px;
  text-decoration: none;
}

.btn{
  background-color: #66BFBF;
  background: #3498db;
  border-radius: 13px;
  color:white;
  font-family: "Merriweather";
  padding: 16px 32px;
  text-decoration: none;

}
.mid-msg{
  width: 50%;
  margin: 40px auto 60px auto;
}

hr{

  width: 4%;
  border-style: dotted none none none;
  border-width: 6px;
  border-color: grey ;
  margin-top: 50px;
}
/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive; */
